{% extends 'base.html.twig' %}

{% block title %}SUAPS - Gestion épreuves{% endblock %}

{% block body %}
    <section>
        <h1>Les épreuves</h1>
    </section>
    <section>
        {% if challenges %}
            {% for challenge in challenges %}
                <article>
                    <h3>{{ challenge.name }}</h3>
                    <p>{{ challenge.description }}</p>
                    <span>coeff {{ challenge.coefficient }}</span>
                    <a href="{{ path('app_prof_challenges_single', { 'id': challenge.id }) }}">Voir plus</a>
                    <a href="{{ path('app_prof_challenges_delete', { 'id': challenge.id }) }}">Supprimer</a>
                </article>
            {% endfor %}
        {% endif %}
    </section>
    <section>
        <a href="{{ path('app_prof_challenges_single', { 'id': 0 }) }}">+</a>
    </section>
{% endblock %}
