{% extends 'base.html.twig' %}

{% block title %}SUAPS - Gestion évaluation épreuve{% endblock %}

{% block body %}
    <section>
        <h1>{{ challenge.name }}</h1>
        <h2>{{ team.name }}</h2>

        {{ form_start(resultForm) }}
            {% if challenge.type == 'temps' %}
                {{ form_label(resultForm.time) }}
                {% for resultTime in resultForm.time %}
                    <div>
                        {{ form_label(resultTime) }}
                        {{ form_widget(resultTime, { 'value': 0 }) }}
                    </div>
                {% endfor %}
            {% else %}
                {% for resultTime in resultForm.time %}
                        {{ form_widget(resultTime, { 'attr': {'style': 'display:none;'}, 'label_attr': {'style': 'display:none;'}, 'required': false }) }}
                {% endfor %}
            {% endif %}

            {% if challenge.type == 'score' %}
                {{ form_row(resultForm.score) }}
            {% else %}
                {{ form_row(resultForm.score, { 'attr': {'style': 'display:none;'}, 'label_attr': {'style': 'display:none;'}, 'required': false }) }}
            {% endif %}

            <label for="coeffSuprise">Coeff surprise de l'équipe</label>
            <input type="range" name="coeff" id="coeffSuprise" max="1.2" min="0.8" value="{{ (team.coeff is empty) ? '1' : team.coeff }}" step="0.1">

            {{ form_widget(resultForm.save, { 'label': 'Valider' }) }}
        {{ form_end(resultForm) }}
    </section>
{% endblock %}
