{% extends 'base.html.twig' %}

{% block title %}SUAPS - Gestion épreuves{% endblock %}

{% block body %}
    <section id="fix-head">
        <h1>Les épreuves</h1>
    </section>
    <section id="main-content">
        {% if challenges %}
            {% for challenge in challenges %}
                <article>
                    <div class="head-epreuve">
                        <a href="{{ path('app_prof_challenges_delete', { 'id': challenge.id }) }}"><i class="fa-solid fa-trash trash" style="color: #ffffff;"></i></a>
                        <h3>{{ challenge.name }}</h3>
                        <a href="{{ path('app_prof_challenges_single', { 'id': challenge.id }) }}"><i class="fa fa-angle-right goto" style="color: #ffffff;"></i></a>
                    </div>
                    <p>{{ challenge.description }}</p>
                    <span>coeff {{ challenge.coefficient }}</span>
                </article>
            {% endfor %}
        {% endif %}
    </section>
    <section id="fix-foot">
        <a href="{{ path('app_prof_challenges_single', { 'id': 0 }) }}">+</a>
    </section>
{% endblock %}
