{% extends 'base.html.twig' %}

{% block title %}SUAPS - Gestion joueurs{% endblock %}

{% block body %}
    <section>
        <h1>Les joueurs</h1>
    </section>
    <section>
        <form action="{{ path('app_prof_players_modify') }}" method="post">
            <ul data-controller="wrapper" class="card-player_wrapper">
                {% for key, player in players %}
                    <li class="card card-player {{ key+1 }}">
                        <p class="username">{{ player.username }}</p>
                        {% if teams %}
                            <label for="playerTeam-{{ player.id }}" class="label-team">Equipe</label>
                            <select name="playerTeam-{{ player.id }}" id="playerTeam-{{ player.id }}" class="select-team">
                                {% for team in teams %}
                                    {% if player.team %}
                                        <option value="{{ team.id }}" {% if team.id == player.team.id %}selected{% endif %}>{{ team.name }} | ({{ team.players|length }})</option>
                                    {% else %}
                                        <option value="{{ team.id }}">{{ team.name }} | ({{ team.players|length }})</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        {% endif %}
                        <a href="{{ path('app_prof_players_delete', { 'id': player.id }) }}" class="btn-delete"><i class="fa-regular fa-trash-can"></i></a>
                    </li>
                {% endfor %}
            </ul>
            <input type="submit" value="Valider" class="btn btn-primary">
        </form>
    </section>
{% endblock %}

{% block javascripts %}
    <script>
        var teams = [
            {% set key = 0 %}
            {% for team in teams %}
                {
                    "key": {{ key }},
                    "id": {{ team.id }},
                    "players": {{ team.players|length }},
                    "name": "{{ team.name }}"
                },
                {% set key = key + 1 %}
            {% endfor %}
        ];
        document.addEventListener("DOMContentLoaded", function () {
            this.querySelectorAll(".select-team").forEach(e => {
                e.addEventListener("change", () => changeLabel(e))
            });
        });

        function changeLabel(e) {
            teams.map(element => {
                return teams[element.key].players = 0;
            });
            document.querySelectorAll(".select-team").forEach(element => {
                teams.find(({id}) => id == element.value).players++;
            });
            document.querySelectorAll(".select-team option").forEach(element => {
                element.innerHTML = teams.find(({id}) => id == element.value).name + ' | (' + teams.find(({id}) => id == element.value).players + ')'
            });
        }
    </script>
{% endblock %}