{% extends 'base.html.twig' %}

{% block title %}SUAPS - Gestion séance{% endblock %}

{% block body %}
    <div class="card-main_wrapper wrapper">
        {% for key, item in menu %}
            <a href="{{ path(item.link) }}" class="card card-main {{ key+1 }}">
                <img src="images/{{ item.pictogram }}" alt="{{ item.title }}">
                <p class="title">{{ item.title }}</p>
                <span class="arrow"></span>
                {% if not (item.description is empty) %}
                    <p class="description">{{ item.description }}</p>
                {% endif %}
            </a>
        {% endfor %}
    </div>

    <button href="" class="reset-all btn">Tout réinitialiser</button>

{% endblock %}
