{% extends 'base.html.twig' %}

{% block title %}SUAPS - Gestion séance{% endblock %}

{% block body %}
    <ul class="card-main_wrapper">
        {% for key, item in menu %}
            <li>
                <a href="{{ path(item.link) }}" class="card card-main {{ key+1 }}">
                    <img src="images/{{ item.pictogram }}" alt="{{ item.title }}">
                    <p class="title">{{ item.title }}</p>
                    <span class="arrow"></span>
                    {% if not (item.description is empty) %}
                        <p class="description">{{ item.description }}</p>
                    {% endif %}
                </a>
            </li>
        {% endfor %}
    </ul>

    <button href="" class="reset-all btn" id="bouton-reset">Tout réinitialiser</button>

    <button onclick="location.href='{{ path('app_logout') }}'" class="reset-all btn" style="margin-top:1rem">Déconnexion</button>

  <!-- A modal dialog containing a form -->
<dialog id="favDialog">
  <form method="dialog">
    <p>
      Etes-vous sûr de vouloir réinitialiser les données ?
    </p>
    <div>
      <button value="cancel" class="button" >Annuler</button>
      <button id="confirmBtn" value="default" class="button" ><a href="{{ path('app_prof_reset') }}">Confirmer</a></button>
    </div>
  </form>
</dialog>
<p> 
    {# <button href="" class="reset-all btn" id="bouton-reset">Tout réinitialiser</button> #}
</p>
<output></output>

<script>
const showButton = document.getElementById('bouton-reset');
const favDialog = document.getElementById('favDialog');
const outputBox = document.querySelector('output');
const selectEl = favDialog.querySelector('select');
const confirmBtn = favDialog.querySelector('#confirmBtn');

showButton.addEventListener('click', () => {
    favDialog.showModal();
});

selectEl.addEventListener('change', (e) => {
  confirmBtn.value = selectEl.value;
});
favDialog.addEventListener('close', () => {
  outputBox.value = `ReturnValue: ${favDialog.returnValue}.`;
});
</script>

<output aria-live="polite"></output>

{% endblock %}
