{% extends 'base.html.twig' %}

{% block title %}SUAPS - Accueil{% endblock %}

{% block body %}
	<section class="section-title">
		<h1>*TITRE en gras*</h1>
		<p class="date-now">{{ "now"|date("m/d/Y") }}</p>
	</section>
	<section class="section-image">
		<picture class="illustration">
			<source srcset="{{ asset('/images/homeImage-small.jpg') }}">
			<source srcset="{{ asset('/images/homeImage-medium.jpg') }}">
			<source srcset="{{ asset('/images/homeImage-large.jpg') }}">
			<img src="{{ asset('/images/homeImage-large.jpg')}}" alt="Image d'illsutration : des personnes qui font de la randonnée"/>
		</picture>
	</section>
	<section class="section-input">
		{{ form_start(chooseNameForm) }}
		<div class="input-line">
			{{ form_widget(chooseNameForm.username, { 'attr': {'placeholder': 'Votre nom'} }) }}
			{{ form_widget(chooseNameForm.save, { 'label': 'OK' }) }}
		</div>
		{{ form_end(chooseNameForm) }}
	</section>
{% endblock %}


{% block blobInside %}
	<svg width="179" height="128" viewbox="0 0 179 128" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M141.887 38.5247C143.644 38.5247 145.069 37.1048 145.069 35.3531C145.069 33.6015 143.644 32.1815 141.887 32.1815C140.13 32.1815 138.706 33.6015 138.706 35.3531C138.706 37.1048 140.13 38.5247 141.887 38.5247Z" fill="#FBBEBE"/>
		<path d="M0 122.884H178.805" stroke="#3F3D56" stroke-miterlimit="10"/>
		<path d="M100.943 124.77C102.171 124.77 103.166 123.778 103.166 122.554C103.166 121.33 102.171 120.338 100.943 120.338C99.7152 120.338 98.7199 121.33 98.7199 122.554C98.7199 123.778 99.7152 124.77 100.943 124.77Z" fill="#3F3D56"/>
		<path opacity="0.1" d="M100.943 124.77C102.171 124.77 103.166 123.778 103.166 122.554C103.166 121.33 102.171 120.338 100.943 120.338C99.7152 120.338 98.7199 121.33 98.7199 122.554C98.7199 123.778 99.7152 124.77 100.943 124.77Z" fill="black"/>
		<path d="M84.5169 106.425C85.7447 106.425 86.74 105.433 86.74 104.209C86.74 102.985 85.7447 101.992 84.5169 101.992C83.2891 101.992 82.2938 102.985 82.2938 104.209C82.2938 105.433 83.2891 106.425 84.5169 106.425Z" fill="#3F3D56"/>
		<path opacity="0.1" d="M84.5169 106.425C85.7447 106.425 86.74 105.433 86.74 104.209C86.74 102.985 85.7447 101.992 84.5169 101.992C83.2891 101.992 82.2938 102.985 82.2938 104.209C82.2938 105.433 83.2891 106.425 84.5169 106.425Z" fill="black"/>
		<path d="M83.1584 99.4068C83.1584 99.4068 85.1344 98.9144 87.3575 103.101L105.636 124.031C105.636 124.031 107.764 125.631 110.035 124.708C110.035 124.708 110.329 125.755 106.871 125.509C103.413 125.263 96.4968 116.89 96.4968 116.89C96.4968 116.89 82.9113 101.623 83.1584 99.4068Z" fill="#289672"/>
		<path d="M85.8755 109.749C87.1033 109.749 88.0986 108.757 88.0986 107.533C88.0986 106.309 87.1033 105.317 85.8755 105.317C84.6477 105.317 83.6524 106.309 83.6524 107.533C83.6524 108.757 84.6477 109.749 85.8755 109.749Z" fill="#3F3D56"/>
		<path d="M102.425 127.725C103.653 127.725 104.648 126.733 104.648 125.509C104.648 124.285 103.653 123.293 102.425 123.293C101.197 123.293 100.202 124.285 100.202 125.509C100.202 126.733 101.197 127.725 102.425 127.725Z" fill="#3F3D56"/>
		<path d="M124.755 67.7175C124.755 67.7175 140.317 87.9096 141.552 89.1408C141.552 89.1408 138.587 98.2519 139.329 101.207C140.07 104.162 137.846 111.303 137.846 111.303L140.564 114.75H142.787C142.787 114.75 144.472 104.865 146.492 99.9756C151.679 87.4171 149.209 85.9396 146.492 80.7685C143.775 75.5973 137.105 65.5013 136.611 65.5013C136.117 65.5013 124.755 67.7175 124.755 67.7175Z" fill="#FBBEBE"/>
		<path d="M130.93 24.6246C136.523 24.6246 141.058 20.1044 141.058 14.5285C141.058 8.95259 136.523 4.43243 130.93 4.43243C125.337 4.43243 120.803 8.95259 120.803 14.5285C120.803 20.1044 125.337 24.6246 130.93 24.6246Z" fill="#3F3D56"/>
		<path d="M128.584 20.3152C128.584 20.3152 133.03 28.6876 125.373 27.7026L125.867 38.2912C125.867 38.2912 131.054 41.2461 131.301 41.2461C131.548 41.2461 139.205 38.7836 139.205 38.7836L140.934 36.8137L141.181 27.7026C141.181 27.7026 135.253 27.2101 135.006 20.5615C134.759 13.9129 128.584 20.3152 128.584 20.3152Z" fill="#FBBEBE"/>
		<path opacity="0.1" d="M128.584 20.3152C128.584 20.3152 133.03 28.6876 125.373 27.7026L125.867 38.2912C125.867 38.2912 131.054 41.2461 131.301 41.2461C131.548 41.2461 139.205 38.7836 139.205 38.7836L140.934 36.8137L141.181 27.7026C141.181 27.7026 135.253 27.2101 135.006 20.5615C134.759 13.9129 128.584 20.3152 128.584 20.3152Z" fill="black"/>
		<path d="M122.408 47.4022L118.456 50.1109L123.89 59.4683L130.066 58.9758L135.994 56.2671C135.994 56.2671 135.994 52.0809 137.476 49.6184C138.958 47.156 122.408 47.4022 122.408 47.4022Z" fill="#FBBEBE"/>
		<path d="M137.229 17.1141C137.229 18.526 136.761 19.8984 135.898 21.0176C135.034 22.1368 133.824 22.9401 132.455 23.3022C131.086 23.6644 129.636 23.5652 128.329 23.0201C127.023 22.4749 125.934 21.5144 125.232 20.2882C124.674 19.3228 124.382 18.228 124.384 17.1141V17.1116C124.385 15.4136 125.062 13.7852 126.266 12.5848C127.471 11.3843 129.105 10.7101 130.808 10.7104C132.511 10.7108 134.145 11.3856 135.349 12.5865C136.553 13.7874 137.229 15.416 137.229 17.1141Z" fill="#FBBEBE"/>
		<path d="M125.402 27.5683C125.402 27.5683 121.914 25.9789 119.197 26.2251C116.48 26.4714 111.293 27.2101 109.811 26.2251C108.329 25.2402 100.672 26.9639 100.672 26.9639C100.672 26.9639 100.425 29.4263 107.094 31.1501C113.763 32.8738 118.703 33.12 119.938 35.09C121.173 37.0599 122.902 39.5224 122.902 39.5224L126.361 32.3813L125.402 27.5683Z" fill="#FBBEBE"/>
		<path opacity="0.2" d="M125.232 20.2882C124.674 19.3228 124.382 18.228 124.384 17.1141V17.1116C125.876 17.0229 127.578 17.1559 129.078 17.8528C131.637 19.0446 127.83 19.8819 125.232 20.2882Z" fill="black"/>
		<path d="M105.118 28.4413C105.118 28.4413 109.564 26.9639 110.799 25.2401C112.034 23.5164 123.15 19.8228 123.15 19.8228C123.15 19.8228 132.783 18.8378 129.078 17.1141C125.373 15.3903 120.432 17.1141 120.432 17.1141C120.432 17.1141 102.154 23.2702 101.413 24.5014C100.967 25.2491 100.712 26.0948 100.672 26.9639L102.401 27.7026L105.118 28.4413Z" fill="#FBBEBE"/>
		<path d="M112.034 58.9758C112.034 58.9758 107.094 66.3631 111.54 84.339C111.54 84.339 111.54 93.4501 110.799 96.6513C110.058 99.8525 110.799 116.597 110.799 116.597L113.269 119.06L115.492 117.582C115.492 117.582 113.887 111.303 116.604 104.901C119.321 98.4981 117.345 90.1258 117.345 90.1258C117.345 90.1258 122.408 73.0118 121.173 67.3481C119.938 61.6845 112.034 58.9758 112.034 58.9758Z" fill="#FBBEBE"/>
		<path d="M112.775 116.351C112.775 116.351 110.552 112.904 110.058 113.889C109.564 114.873 108.823 117.828 105.612 119.06C102.401 120.291 100.178 120.291 103.389 122.753C106.6 125.216 107.341 125.216 108.823 124.477C110.305 123.738 112.775 123.246 113.516 123.492C114.257 123.738 117.221 122.753 116.974 121.276C116.727 119.798 115.492 118.321 115.492 118.321C115.492 118.321 114.998 115.612 114.504 116.351C114.01 117.09 112.775 116.351 112.775 116.351Z" fill="#3F3D56"/>
		<path d="M141.922 112.904C141.922 112.904 138.273 109.402 138.492 108.691C138.711 107.979 134.265 107.979 135.006 110.687C135.747 113.396 137.723 116.597 137.723 116.597C137.476 119.798 137.476 122.507 140.193 123.492C142.91 124.477 146.121 123.738 145.133 120.783C144.145 117.828 143.339 113.3 143.339 113.3L141.922 112.904Z" fill="#3F3D56"/>
		<path d="M119.568 49.0028C119.568 49.0028 110.799 54.0509 110.305 60.9457C110.305 60.9457 112.775 67.8406 121.667 69.0718C121.667 69.0718 123.802 68.0868 124.834 69.0718C125.867 70.0568 134.759 69.0718 137.476 66.6094C137.476 66.6094 135.87 56.1439 136.364 53.9277C136.364 53.9277 128.337 60.6995 124.632 55.0358C120.926 49.3722 119.568 49.0028 119.568 49.0028Z" fill="#3F3D56"/>
		<path d="M140.687 28.4414C140.687 28.4414 145.38 25.9789 147.85 31.3963C150.32 36.8137 155.261 45.186 155.014 48.141C154.767 51.0959 139.699 59.4683 139.699 59.4683C139.699 59.4683 133.277 66.1169 132.783 63.4082C132.289 60.6995 137.476 57.0058 137.476 57.0058C137.476 57.0058 148.838 50.3572 148.838 47.8947C148.838 45.4323 143.157 35.5825 141.922 35.5825C140.687 35.5825 140.687 28.4414 140.687 28.4414Z" fill="#FBBEBE"/>
		<path d="M125.867 27.2101L123.89 26.9639C123.89 26.9639 126.364 35.0687 121.793 37.9112C121.793 37.9112 124.385 45.6786 120.679 47.8948C116.974 50.111 135.5 54.7896 137.229 52.8197C138.958 50.8497 144.502 38.3409 144.076 37.9467C143.651 37.5525 140.687 35.3362 141.428 32.6275C141.866 31.0725 142.118 29.4709 142.177 27.8566L139.863 27.28L138.217 35.5825C138.217 35.5825 130.807 38.5374 127.596 34.105L125.867 27.2101Z" fill="#289672"/>
		<path d="M133.339 9.35733H127.039C126.05 9.35733 125.249 10.1563 125.249 11.1418V12.9903C125.249 13.9758 126.05 14.7747 127.039 14.7747H133.339C134.328 14.7747 135.129 13.9758 135.129 12.9903V11.1418C135.129 10.1563 134.328 9.35733 133.339 9.35733Z" fill="#3F3D56"/>
		<path d="M131.671 8.86483C134.127 8.86483 136.117 6.88038 136.117 4.43242C136.117 1.98446 134.127 0 131.671 0C129.216 0 127.225 1.98446 127.225 4.43242C127.225 6.88038 129.216 8.86483 131.671 8.86483Z" fill="#3F3D56"/>
		<path d="M3.9422 87.068C3.9422 104.068 14.6401 117.824 27.8606 117.824L3.9422 87.068Z" fill="#46455B"/>
		<path d="M27.8606 117.824C27.8606 100.633 39.7988 86.7224 54.5521 86.7224L27.8606 117.824Z" fill="#5FD068"/>
		<path d="M12.6083 88.6091C12.6083 104.757 19.4301 117.824 27.8606 117.824L12.6083 88.6091Z" fill="#5FD068"/>
		<path d="M27.8606 117.824C27.8606 95.8578 41.6593 78.0831 58.7118 78.0831L27.8606 117.824Z" fill="#46455B"/>
		<path d="M22.8288 118.041C22.8288 118.041 26.2208 117.937 27.2431 117.211C28.2654 116.485 32.4609 115.619 32.7145 116.783C32.9681 117.946 37.8121 122.571 33.9825 122.602C30.1529 122.633 25.0842 122.007 24.0639 121.388C23.0436 120.768 22.8288 118.041 22.8288 118.041Z" fill="#A8A8A8"/>
		<path opacity="0.2" d="M34.0508 122.197C30.2212 122.228 25.1526 121.602 24.1323 120.982C23.3553 120.511 23.0456 118.818 22.942 118.036C22.8703 118.039 22.8288 118.041 22.8288 118.041C22.8288 118.041 23.0436 120.768 24.0639 121.388C25.0842 122.007 30.1529 122.633 33.9825 122.602C35.0879 122.593 35.4698 122.201 35.4488 121.62C35.2952 121.971 34.8736 122.19 34.0508 122.197Z" fill="black"/>
	</svg>
{% endblock %}
