{% extends 'base.html.twig' %}

{% block title %}SUAPS - Accueil
{% endblock %}

{% block body %}
	<section class="section-title">
		<h1>*TITRE en gras*</h1>
		<p class="date-now">{{ "now"|date("m/d/Y") }}</p>
	</section>
	<section class="section-image">
		<picture class="illustration">
			<source srcset="{{ asset('/images/homeImage-small.jpg') }}">
			<source srcset="{{ asset('/images/homeImage-medium.jpg') }}">
			<source srcset="{{ asset('/images/homeImage-large.jpg') }}">
			<img src="{{ asset('/images/homeImage-large.jpg')}}" alt="Image d'illsutration : des personnes qui font de la randonnée"/>
		</picture>
	</section>
	<section class="section-input">
		{{ form_start(chooseNameForm) }}
		<div class="input-line">
			{{ form_widget(chooseNameForm.username, { 'attr': {'placeholder': 'Votre nom'} }) }}
			{{ form_widget(chooseNameForm.save, { 'label': 'OK' }) }}
		</div>
		{{ form_end(chooseNameForm) }}
	</section>
{% endblock %}
