{% extends 'base.html.twig' %}

{% block title %}SUAPS - Choisir son Équipe{% endblock %}

{% block body %}
<section class="section-title">
    <h1>Les équipes</h1>
    <p class="date-now">{{ "now"|date("d/m/Y") }}</p>
</section>

<p class="choose-team">Bonjour <strong>{{ playerUsername }}</strong>, choisissez votre équipe</p>

{{ form_start(chooseTeamForm) }}
    <div class="team_wrapper" data-controller="scroll">
        <ul>
            {% for team in chooseTeamForm.team.children %}
                <li>
                    <label for="{{ team.vars.id }}">
                        <div class="team_title">
                            <h2>{{ team.vars.label }}</h2>
                        </div>
                        <div class="team_content">
                            <div class="team_content_inner">
                                <div class="left">
                                    <ul>
                                        {% for key, player in allPlayers %}
                                            {% if player.team.id is defined and player.team.id == team.vars.value %}
                                                <li>{{ player.username|capitalize }}</li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="right">
                                    {{ form_widget(team) }}
                                    <div class="radio-appearance"></div>
                                </div>
                            </div>
                        </div>
                    </label>
                </li>
            {% endfor %}
        </ul>
    </div>
    {{ form_widget(chooseTeamForm.save, { 'label': 'Valider' }) }}
{{ form_end(chooseTeamForm) }}
{% endblock %}
