{% extends 'base.html.twig' %}

{% block title %}SUAPS - Accueil{% endblock %}

{% block body %}
    {% if afficheDeco == true %}
        <a href="{{ path('app_user_deconnexion') }}">Déconnexion</a>
    {% endif %}
    <section class="hello">
        <p>Bonjour <strong>{{ player.username|capitalize }}</strong>, équipe : 
        <span class="team-name"><span>{{ player.team.name|capitalize }}</span></span></p>
    </section>
    <section class="banner">
        <img class="img-stats" style="--delay : 0" src="{{ asset('images/undraw_fitness_stats_sht6.svg') }}" alt="Bannière d'illustration activité sportive">
        <img class="img-stats" style="--delay : calc(var(--animation-duration) / 5)" src="{{ asset('images/undraw_basketball_re_fsbx.svg') }}" alt="Bannière d'illustration activité sportive">
        <img class="img-stats" style="--delay : calc((var(--animation-duration) / 5) * 2)" src="{{ asset('images/undraw_greek_freak_j-2-qb.svg') }}" alt="Bannière d'illustration activité sportive">
        <img class="img-stats" style="--delay : calc((var(--animation-duration) / 5) * 3)" src="{{ asset('images/undraw_running_wild_re_fq9r.svg') }}" alt="Bannière d'illustration activité sportive">
        <img class="img-stats" style="--delay : calc((var(--animation-duration) / 5) * 4)" src="{{ asset('images/undraw_track_and_field_-33-qn.svg') }}" alt="Bannière d'illustration activité sportive">
    </section>
    <section class="section-direction card">
       {# <p class="go-to">Allez à l’épreuve</p>
       <p class="direction">Escalade</p>
       <p class="description">Description épreuve lorem ipsum dolores truc</p> #}
        {% for challenge in challenges %}
            <p class="direction">{{ challenge.name }}</p>
            <p class="description">{{ challenge.description }}</p>
        {% endfor %}
    </section>
    <section class="section-points card">
        <p class="your-team-scored">Votre équipe a marqué</p>
        <p class="points">{{ scoreTeam }} point{% if scoreTeam > 1 %}s{% endif %}</p>
    </section>
    <a href="{{ path('app_results') }}" class="section-classement card">
        <p>Classements des équipes</p>
        <span class="arrow"></span>
    </a>
{% endblock %}
