{% extends 'base.html.twig' %}

{% block title %}SUAPS - Résulats épreuve {{ challenge.name }}{% endblock %}

{% block body %}
    <section>
        <h1>{{ challenge.name }}</h1>
    </section>
    <section class="card card-results">
        <h2>Classement des équipes</h2>
        <div class="results" data-controller="wrapper">
        {% if not (results is empty) %}
        {% set classement = 1 %}
        <ul class="results-podium">
            {% for key, result in results %}
                {% if classement == 4 %}
                    </ul>
                    <ul class="results-rest">
                {% endif %}
                <li class="result challenge-result result{{ classement }}">
                {% if classement >= 4 %}
                    <p class="classement"><span>{{ classement }}. </span>{{ result.name }}</p>
                    <p class="result-points">
                        {% if challenge.type == 'temps' %}
                            {{ result.time.i }}m{{ result.time.s }}sec
                        {% elseif challenge.type == 'score' %}
                            score&nbsp;: {{ result.score }} -
                        {% endif %}
                        {{ result.score }} point{{ result.score > 1 ? 's' : '' }}
                    </p>
                {% else %}
                    <div class="trophy trophy{{ classement }}"></div>
                    <p class="name">{{ result.name }}</p>
                    <p class="result-points">
                        {% if challenge.type == 'temps' %}
                            {{ result.time.i }}m{{ result.time.s }}sec
                        {% elseif challenge.type == 'score' %}
                            score&nbsp;: {{ result.score }} -
                        {% endif %}
                        {{ result.points }} point{{ result.points > 1 ? 's' : '' }}
                    </p>
                {% endif %}
                </li>
                {% set classement = classement + 1 %}
            {% endfor %}
                </ul>
            </div>
        {% endif %}
    </section>
{% endblock %}
