{% extends 'base.html.twig' %}

{% block title %}SUAPS - Résulats{% endblock %}

{% block body %}
    <section>
        <h1>Résultats</h1>
    </section>
    <section>
        <p>Classement des équipes</p>
        {% set classement = 1 %}
        {% for result in results %}
            <div class="{{ classement }}">
                <p><span>{{ classement }}. </span>{{ result.name }}</p>
                <p>{{ result.points }} point{% if result.points > 1 %}s{% endif %}</p>
            </div>
            {% set classement = classement+1 %}
        {% endfor %}
    </section>
    <section>
        <a href="{{ path('app_results_challenge_list') }}">Classement par épreuves</a>
    </section>
{% endblock %}
