{% extends 'base.html.twig' %}

{% block title %}SUAPS - Résulats épreuve {{ challenge.name }}{% endblock %}

{% block body %}
    <section>
        <h1>{{ challenge.name }}</h1>
    </section>
    <section>
        <h2>Classement des équipes</h2>
        {% if not (results is empty) %}
            {% set classement = 1 %}
            {% for key, result in results %}
                <div class="{{ classement }}">
                    <p><span>{{ classement }}. </span>{{ result.name }}</p>
                    <p>
                        {% if result.time or result.score %}
                            <span>
                                {% if challenge.type == 'temps' %}
                                    {{ result.time.i }}m{{ result.time.s }}sec
                                {% elseif challenge.type == 'score' %}
                                    {{ result.score }} point{% if result.score > 1 %}s{% endif %}
                                {% endif %}
                            </span> -
                        {% endif %}
                        <span>
                            Total de {{ result.points }} point{% if result.points > 1 %}s{% endif %}
                        </span>
                    </p>
                </div>
                {% set classement = classement+1 %}
            {% endfor %}
        {% endif %}
    </section>
{% endblock %}
