{% extends 'base.html.twig' %}

{% block title %}SUAPS - Résulats{% endblock %}

{% block body %}
    <section>
        <h1>Résultats</h1>
    </section>
    <section>
        <p>Classement des équipes</p>
        {% for key, team in teams %}
            <div class="{{ key+1 }}">
                <p><span>{{ key+1 }}. </span>{{ team.name }}</p>
                {% set pointsTeam = 0 %}
                {% for result in team.results %}
                    {% set pointsTeam = pointsTeam+result.pointsEarned %}
                {% endfor %}
                <p>{{ pointsTeam }} point{% if pointsTeam > 1 %}s{% endif %}</p>
            </div>
        {% endfor %}
    </section>
    <section>
        <a href="{{ path('app_results_challenge_list') }}">Classement par épreuves</a>
    </section>
{% endblock %}
