{% extends 'base.html.twig' %}

{% block title %}SUAPS - Résulats{% endblock %}

{% block body %}
    <section>
        <h1>Résultats</h1>
    </section>
    <section class="card card-results">
        <h2>Classement des équipes</h2>
        <div class="results" data-controller="wrapper">
        {% set classement = 1 %}
        <ul class="results-podium">
        {% for result in results %}
            {% if classement == 4 %}
                </ul>
                <ul class="results-rest">
            {% endif %}
            <li class="result result{{ classement }}">
            {% if classement >= 4 %}
                <p class="classement"><span>{{ classement }}. </span>{{ result.name }}</p>
                <p class="result-points">{{ result.points }}</p>
            {% else %}
                <div class="trophy trophy{{ classement }}"></div>
                <p class="name">{{ result.name }}</p>
                <p class="result-points">{{ result.points }} {{ result.points > 1 ? 'points' : 'point' }}</p>
            {% endif %}
            </li>
            {% set classement = classement+1 %}
        {% endfor %}
            </ul>
        </div>
    </section>
    <a href="{{ path('app_results_challenge_list') }}" class="section-classement card">
        <p>Classement par épreuves</p>
        <span class="arrow"></span>
    </a>
{% endblock %}
